html {
  font-family: "Fredoka One", sans-serif;
  background-image: repeating-linear-gradient(-45deg, #d4fdff, #d4fdff 10px, #c9fcff 10px, #c9fcff 20px);
  text-shadow: 2px 2px rgba(0, 0, 0, .4);
}

.btn-ghost {
  color: #c09;
  border-style: solid;
  border-radius: 4px;
  border-color: #990073;
}

.btn-ghost:hover {

}

.text {
  color: #990073;
  opacity: 100%;
  animation: text 150ms linear;
  padding-bottom: 100px;
}

img {
  max-width: 180px;
}

p {
  color: #c09;
  max-width: 19em;
  transform: rotate(-5deg);
}

h1 {
  transform: rotate(-10deg);
}

.wrapper {
  position: relative;
  border-top: 8px solid #b3fbff;
  border-bottom: 8px solid #b3fbff;
}

.cherry {
  z-index: 6;
  right: 1em;
  position: absolute;
  animation: slide-in .6s ease-out forwards;
}

.vanilla-fudge {
  z-index: 5;
  right: 1em;
  position: absolute;
  animation: slide-in .5s ease-out forwards;
}

.chocolate-chip {
  z-index: 4;
  right: 1em;
  position: absolute;
  animation: slide-in .4s ease-out forwards;
}

.mint-chip {
  z-index: 2;
  right: 1em;
  position: absolute;
  animation: slide-in .3s ease-out forwards;
}

.cone {
  z-index: 3;
  right: 1em;
  position: absolute;
  animation: slide-in .2s linear forwards;
}

@keyframes slide-in {

  0% {
    transform: translateX(0em);
    transform: translateY(-500px);
  }

  100% {
    transform: translateY(0);
  }

}

@keyframes text {

  0% {
    filter: opacity(0);
  }

  50% {
    filter: opacity(.1);
  }

  75% {
    filter: opacity(.5);
    filter: blur(.5px);
  }

  100% {
    filter: opacity(1);
  }
}
